table
{
    table-layout: fixed;
    text-align: center;
    border-collapse: collapse;
    font-family: Verdana, Arial, sans-serif;
    
    /*border-collapse:separate;
    border-spacing:0 5px;*/
    
    
}

table, th {
    border: 1px solid;
}

th {
    /*'*/
    font-size:large;
    
}

td {
    /* word-break: break-all; 
    word-wrap:break-word;*/
    padding: 0px;
    border: 1px solid;
    

}

.preview {
    background-color: White ;
    padding: 1px;
    margin: 1px;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-left: 0px solid;
    border-right: 0px solid;

}


.preview:hover {
    background-color: black ;

    /*
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 2px;
    */
}
/*
.preview:active {
    background-color: Red ;
}
*/
.ProgramTitle  
{
    display: block;
    margin-bottom: 2px;
}

.ProgramSeason
{
    display: block;
    font-size:small;
    font-weight: bold;
}

.ProgramSubtitle
{
    /*display: block;*/
    font-size:small;
    /*word-wrap: break-word;
    overflow-wrap: break-word;*/
    
    hyphens: auto;
    /*
    word-break: break-all; 
    word-wrap:break-word;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;*/
}

/* Text sizes */

.SingleWide {
    font-size:x-small;
}

.HalfWide {
    font-size:small;
}

.DoubleWide {
    font-size:large;
}

.QuadWide {
    font-size:x-large;
}

/* Headers */

.DayColumn {
    /* width: 165px;*/
    max-width: 165px;
    width: 14%;
}

.TimeColumn {
    width: 50px;
    /*height: 75px;*/
    height: 30px;
    /*height: 70px;*/
    font-size:large;
    vertical-align: top;
    /*border-top: double;*/
    
}

/* Build-in categories */

.None {
    background-color: #eee    ;
    fill: #eee    ;
    color: gray;
}

.Varied {
    background-color: White    ;
    fill: White    ;
    border:0px;
}

.LevellingUp {    
    border:0px;
    color: gray;
}

.LevellingDown {    
    border:0px;
    color: gray;
}


/* ==========================================================================
Site
========================================================================== */

.header { display: block; margin-left: 50; margin-top: 30; margin-bottom: 30;}

/* basic positioning */
.legend { list-style: none; margin-bottom: 30; font-family: Verdana, Arial, sans-serif;line-height: 1.4;}
/* .legend li { float: left; margin-right: 10px; } */
.legend span {  border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.reuna { display: block; float: left; margin-bottom: 50; margin-bottom: 50; margin-right: 30; width: 280px; }

.footer { display: block; margin-top: 20; margin-bottom: 30; margin-left: 50;}

html {
    margin:    0 auto;
    max-width: 1350px;
}

body
{
    /* whatever you want */
}  

/* ==========================================================================
Program Categories (MythTV)
========================================================================== */

.series {
    
    background-color: White ;
    fill: White ; 
    
}

.News {
    background-color: DarkKhaki ; /* LightCyan;*/
    fill: DarkKhaki ; 
}

.Documentary {
    background-color: Wheat ;
    fill: Wheat ;
}

.Magazine {
    background-color: DarkSeaGreen; /*Thistle  ;*/
    fill: DarkSeaGreen ;
}

.Movies, .movie {
    background-color: #ff7d66  ;
    fill: #ff7d66  ;
}

.Entertainment {
    background-color: RosyBrown  ;
    fill: RosyBrown ;
}

.Comedy {
    background-color: SandyBrown    ;
    fill: SandyBrown ;
}

.Drama {
    background-color: Pink   ;
    fill: Pink ;
}

.Reality {
    background-color: Violet      ;
    fill: Violet ;
}

.Kids {
    background-color: LemonChiffon    ;
    fill: LemonChiffon ;
}

.sports {
    background-color: PaleGreen     ;
    fill: PaleGreen     ;   
}

.olympic {
    border-style: dashed solid;
    background-color: #bde0f5;
    fill: #bde0f5;
    /*background-color: #66b7e7;*/
}
/*
.Music {
    background-color: Thistle     ;
}
*/
.Humanities {
    background-color: LightCyan     ;
    fill: LightCyan ;
}

.Horror {
    background-color: LightCyan     ;
    fill: LightCyan ;
}

.Religion {
    background-color: LightCyan     ;
    fill: LightCyan ;
}
.Nature {
    background-color: LightCyan     ;
    fill: LightCyan ;
}
.Lifestyle {
    background-color: LightCyan     ;
    fill: LightCyan ;
}
.Talkshow {
    background-color: LightCyan     ;
    fill: LightCyan ;
}
/*
.Animation {
    background-color: LightCyan     ;
}*/
